.cart {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
  align-self: start;
}

.innerCart {
  background-color: var(--white);
  border-radius: 10px;
  max-width: 360px;
  padding: 0.9rem 1rem;
  width: 100%;
}

h3 {
  color: var(--red);
  font-family: "RedHatText-Bold";
  font-size: 1.2rem;
  margin: 0;
  text-align: start;
}

.cart__footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 200px;
}

.order {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;

  span:nth-child(1) {
    color: var(--red-rose-500);
    font-size: 0.8rem;
    letter-spacing: -0.3px;
  }
  span:nth-child(2) {
    color: var(--red-rose-900);
    font-size: 1.1rem;
    font-family: "RedHatText-Bold";
  }
}

.cart__footer_middle {
  background-color: var(--red-rose-50);
  color: var(--red-rose-500);
  font-family: "RedHatText-SB";
  font-size: 0.9rem;

  svg {
    margin-right: 10px;
    position: relative;
    top: 4px;
  }

  b {
    color: var(--red-rose-900);
    font-family: "RedHatText-Bold";
  }
}
