.panel {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  color: white;
  font-size: 0.8rem;

  button {
    width: 20px;
    height: 20px;
    background-color: transparent;
    color: white;
    border: none;
  }
}

.circle {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid white;
}

.indicator {
  width: 20px;
}
