.btn {
  align-items: center;
  background-color: transparent;
  border: none;
  display: flex;
  font-family: "RedHatText-SB";
  justify-content: center;
  width: 100%;

  svg {
    margin-right: 0.2rem;
  }
}
