.card {
  display: flex;
  flex-direction: column;
}

.cover {
  border-radius: 10px;
  border: solid 2px red;
  margin-bottom: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bottomSide {
  position: relative;
  top: 18px;
  width: 100px;
  padding: 5px;
  border-radius: 18px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: start;
}
