.gallery {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 275px));
  justify-content: space-evenly;

  width: 100%;
}

h1 {
  text-align: left;
  font-family: "RedHatText-Bold";
}
