@font-face {
  font-family: "RedHatText-Regular";
  src: local("RedHatText-Regular"),
    url("../assets/fonts/static/RedHatText-Regular.ttf");
}

@font-face {
  font-family: "RedHatText-Bold";
  src: local("RedHatText-Bold"),
    url("../assets/fonts/static/RedHatText-Bold.ttf");
}

@font-face {
  font-family: "RedHatText-SB";
  src: local("RedHatText-SemiBold"),
    url("../assets/fonts/static/RedHatText-SemiBold.ttf");
}

:root {
  --white: white;
  --red: hsl(14, 86%, 42%);
  --red-green: hsl(159, 69%, 38%);
  --red-rose-50: hsl(20, 50%, 98%);
  --red-rose-100: hsl(13, 31%, 94%);
  --red-rose-300: hsl(14, 25%, 72%);
  --red-rose-400: hsl(7, 20%, 60%);
  --red-rose-500: hsl(12, 20%, 44%);
  --red-rose-900: hsl(14, 65%, 9%);

  font-family: RedHatText-Regular, sans-serif;
  font-size: 16px;
  background-color: var(--red-rose-50);
}
